h2{
font-family:Geneva, Arial, Helvetica, sans-serif;
color:#FFFFFF;
}
body{
background:#CCCCCC;}

table{
background-color:#FFFFFF;
margin-top:120px;
padding:5px;
}
td{
	padding:5px;
}
p{
	font-size:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color:#00CCFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size:22px;
	box-shadow:3px 3px 0 0 black;
}

input[type=submit]:hover {
    background-color:#0099FF;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}